version: '3.8'

services:
  db:
    image: postgres:15-alpine  
    container_name: db
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=subscriptions_db
    ports:
      - "${APP_PORT}:${APP_PORT}" 

